$default: #5e5e5e;
$accent: #ffc222;

%roboto-400 {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
}

%roboto-500 {
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 500;
}

%ptserif-400 {
  font-family: "PTSerif-Regular", sans-serif;
  font-weight: 400;
}

%ptserif-700 {
  font-family: "PTSerif-Bold", sans-serif;
  font-weight: 700;
}

%default-btn {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  @extend %roboto-500;
  color: #fff;
  padding: 8px 20px 8px 20px;
  border: 1px solid $accent;
  border-right-width: 20px;
  display: inline-block;
}
